body {
  background-color: lightblue;
  font-family: monospace;
  cursor: alias;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 2;
  padding: 2;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

form {
  border: 3px solid #f1f1f1;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
}