body {
  background-color: lightblue;
  font-family: sans-serif;
  cursor: crosshair;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: flex;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
